/*
 * e-shop template
 * dudushko maria
 * 2020
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:200,300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

html {
  font-size: 16px;
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
}

a {
  display: inline-block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background: #27C0EC;
  font-size: 0.875rem;
  margin-top: 40px;
  padding: 20px 40px;
  color: #FFFFFF;
}

img {
  display: block;
}

section {
  padding: 80px 0;
}

.btn:hover {
  background: #000;
}

header {
  padding: 15px;
  background: #333333;
  position: relative;
  top: 0;
  left: 0;
}

.header-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: none;
}

.address, .phone, .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.icon-header {
  color: #27C0EC;
  padding: 13px;
}

.info-header {
  font-size: 0.875rem;
  line-height: 20px;
}

.icon-social {
  color: #FFFFFF;
  padding: 10px;
}

.phone:hover {
  cursor: pointer;
}

.icon-social:hover i {
  color: #27C0EC;
}

@media (min-width: 710px) {
  header {
    padding: 10px;
  }

  .contacts {
    flex-direction: row;
  }
}
@media (min-width: 940px) {
  .wrap-info-header {
    flex-direction: row;
    justify-content: space-around;
  }
}
.wrap-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  margin: 30px 0;
  padding: 30px 0;
}

.mobile-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.toogle-menu {
  display: none;
  width: 60%;
  height: 100vh;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

nav .active,
nav a:hover {
  color: #27C0EC;
}

.toogle-menu ul {
  margin: 50px 15px;
}

.toogle-menu li {
  padding: 5px;
}

.main-menu {
  width: 100%;
  display: none;
}

.main-menu li {
  display: inline;
  padding: 10px;
}

.burger, .icon-search {
  font-size: 1.375rem;
}

.search:hover {
  color: #27C0EC;
  cursor: pointer;
}

.burger:hover {
  color: #27C0EC;
  cursor: pointer;
}

.burger:hover .toogle-menu {
  display: block;
}

@media (min-width: 710px) {
  .burger {
    display: none;
  }

  .toogle-menu {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: start;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .mobile-menu {
    flex-direction: row;
  }

  .menu {
    width: 5%;
  }
}
@media (min-width: 940px) {
  .wrap-menu {
    flex-direction: row;
  }
}
.slider {
  color: #FFFFFF;
  background: #333333 url(../images/page_home/bg_home.jpg) no-repeat fixed;
  position: relative;
  top: 0;
  left: 0;
}

.slider-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5.6px;
  margin: 10px 0;
}

.sub-title-slider {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 28px;
  padding: 0 10px;
  margin: 10px 0;
}

.arrow {
  color: #c8c8c8;
  font-size: 1.875rem;
  position: absolute;
  top: 20%;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.btn-slider {
  border-radius: 5px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  margin-top: 80px;
}

.icon-circle {
  color: #888888;
  padding: 8px;
}

.icon-circle-active {
  color: #FFFFFF;
}

.icon-circle:hover i {
  color: #FFFFFF;
  cursor: pointer;
}

.arrow:hover {
  cursor: pointer;
}

@media (min-width: 780px) {
  h6 {
    font-size: 3.125rem;
  }

  .arrow {
    font-size: 3.25rem;
  }
}
@media (min-width: 1040px) {
  h6 {
    font-size: 5rem;
  }
}
.our-servises-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-center {
  width: 100px;
  height: 2px;
  background: #27C0EC;
  margin: 15px 0;
}

h2 {
  font-size: 1.875rem;
  letter-spacing: 1.7px;
  margin: 15px 0;
}

.wrap-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-card {
  color: #27C0EC;
  font-size: 2.875rem;
  margin: 15px 0;
}

h5 {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin: 5px 0;
}

.sub-title-card {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #888888;
  text-align: center;
  text-transform: none;
  margin: 5px 0;
}

@media (min-width: 780px) {
  .wrap-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .card {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  h5, .sub-title-card {
    text-align: left;
  }

  .icon-card {
    margin: 0;
    padding: 0 5px;
  }
}
.our-history {
  background: #f6f6f7;
}

.our-history-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-history {
  display: flex;
  justify-content: center;
  align-items: start;
}

.text-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 15px 0;
}

.line-left {
  width: 100px;
  height: 2px;
  background: #27C0EC;
  margin: 15px 0;
}

.title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 15px 0;
}

h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  text-align: left;
  line-height: 22px;
  letter-spacing: 1.08px;
  margin: 5px 0;
}

.sub-title-history {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #888888;
  text-align: left;
  text-transform: none;
  line-height: 30px;
  margin: 5px 0;
}

@media (min-width: 1040px) {
  .our-history-flex {
    flex-direction: row;
  }

  .photo-history {
    order: 2;
  }

  .text-history {
    width: 50%;
    order: 1;
  }
}
body {
  position: relative;
  top: 0;
  left: 0;
}

.assist {
  width: 70px;
  height: 70px;
  background: url(../images/assistent.jpg) center/cover no-repeat;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.num {
  width: 13px;
  height: 13px;
  background: #1FC71B;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 50px;
}

.message {
  display: none;
  background: #1FC71B;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: none;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: -350%;
  transform: translateY(-50%);
}

.assist:hover .message {
  display: block;
}

/*# sourceMappingURL=style.css.map */
