// Variables

// Colors
$primary: #FFFFFF;
$secondary: #000;
$third:#27C0EC;
$fourth:#333333;
$fifth: #888888;

// Fonts
 
$font-family-base: "Montserrat", Sans-serif;
$font-size-base: 16px;
$text-transform-base: uppercase;
$h1-font-size: 60px/$font-size-base*1rem;
$h2-font-size: 30px/$font-size-base*1rem;
$h3-font-size: 14px/$font-size-base*1rem;
$h4-font-size: 18px/$font-size-base*1rem;
$btn-font-size: 14px/$font-size-base*1rem;


// Container

$max-width-container: 1600px;
$min-width-container: 320px;